/* Reset Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global style */

.container{
    width: 80%;
    margin: auto;
}

/* custom style */

.bg-gold{
    background-color: goldenrod;
}
.bg-blue{
    background-color: lightblue;
}
.transform-card{
    
    width: 40%;
    /* height: 200px; */
    margin-top: 4%;
    transition: 1s;
    display: inline-block;
    /* overflow: hidden; */
    
}

.transform-card:hover{
     /* transform: translateX(-100%);
    transform: translateY(100px);
    transform: translateY(-50%);
    transform: rotate(360deg);
    transform: rotate(-60deg);
    transform: scaleX(0.5);
    transform: scaleX(0);
    transform: scaleX(2);
    transform: scaleY(2);
    transform: scaleY(0.5);
    transform: scaleY(0);
    transform: scale(1.5);
    transform: translate(200px , 300px);
    transform: skewX(50deg);
    transform: skewY(50deg);
    transform: skew(50deg , 50deg); */
    /* matrix  ==> scaleX skewY SkewX scaleY translateX translateY*/
    /* transform: matrix(1.5 , 0 , 0.5 , 0.7 , 100 , 200 ); */
    /* width: 50%; */
}

.transform-card:hover img{
    /* transform: scale(1.2); */
    transform: rotate(20deg) scale(1.7);
}

.card-img{
    width: 100%;
    transition: 1s;
}

.overflow-hidden{
    overflow: hidden;
}