body{
    height: 6000px;
}



.card{
     width: 50%;
     padding: 2%;
     background-color: lightgray;
     margin: auto;
     font-size: 30px;
}


.div_style{
    height: 200px;
    width: 20%;
    overflow: auto;
}

.bg-light{
    background-color: lightgray;
    margin-bottom: 20px;
}

.bg-black{
    background-color: black;
    color: white;
}